.navbar{
  height: 100px;
  // overflow: hidden;
  // display: flex;
  // justify-content: space-between;


  .wrapper{
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    overflow: hidden;
 

    span {
      
      // border: 1px solid white;
      // padding: 0;
      font-weight: bold;
      padding-left: 50px;
    }

    .social {
      // border: 1px solid white;
      display: flex;
      gap: 20px;

      img{
        width: 18px;
        height: 18px;
      }
    }
  }
}